.wrapper{
    display: flex;
    background-color: rgb(190, 205, 224);
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    margin-bottom: 30px;

    position: sticky;
    top: 0;
}


.logo_wrapper{
    display: flex;
    gap: 6px;
    align-items: center;
}

.logo_wrapper div {
    font-style: italic;
}

.navbar{
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.link{
    text-decoration: none;
    color: rgb(1, 26, 50);
   
}